<!DOCTYPE html>
<html>
<body>
    <h1>please enter:</h1>
    <form action="{{ url_for('submit') }}" method="post">

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="age">Age:</label>
        <input type="text" id="age" name="age" required><br><br>

        <label for="grade">Grade:</label>
        <input type="text" id="grade" name="grade" required><br><br>

        <button type="submit">Submit</button>

    </from>
    
</body>
</html>